.header {
  background: white;
  border: 1px solid #1f71e3;
}
.navbar{
  background: white;
  border: 1px solid #1f71e3;
  max-width: 100%;
}
.header--label {
  text-align: center;
  letter-spacing: 0px;
  color: #ffffff;
}

.header--ico {
  width: 10vh;
  height: 8vh;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
}

.header--title {
  padding-top: 11px;
  text-align: left;
  letter-spacing: 0px;
  color: #677baf;
  text-transform: uppercase;
  width: min-content;
  margin-left: 15px;
}
