<div class="login">
  <form class="login__form" (ngSubmit)="onSubmit()" autocomplete="off">
    <img
      class="login__form--image"
      src="../../assets/login/logo.png"
      alt="logo login"
    />
    <h3 class="login__form--title">Iniciar Sesión</h3>
    <div class="login__form--inputemail">
      <input
        class="login__form--input"
        type="email"
        name="email"
        id="email"
        autocomplete="off"
        [(ngModel)]="loginModel.email"
        placeholder="Usuario"
        required="required"
      />
    </div>
    <div class="login__form--inputlock">
      <input
      class="login__form--input"
      id="password"
      [(ngModel)]="loginModel.password"
      type="password"
      autocomplete="off"
      name="password"
      placeholder="Contraseña"
      required="required"
    />
    </div>
    <button class="login__form--button" [disabled]="!loginModel.email && !loginModel.password"  type="submit">Entrar</button>
  </form>

</div>
