.menu{
    /* background-color: #677BAF;
    height: 100%;
    width: 250px;
    padding-top: 60px;
    z-index: 1;  
    padding-top: 60px;
    display: block;
    position: fixed;  */
    background-color: #677BAF;
    padding-right: 20px;
    padding-top: 20px;
    min-height: calc(100vh - 50px);
}

.menu__button{
   border:none;
   background-color: #677BAF;
   width: 100%; 
   padding-top: 10px;
   padding-left: 6px;
   padding-right: 6px;
   font-size: medium;
   margin-bottom: 10%;
   color: white;
   padding-bottom: 10px;
}

.menu__button:hover{
    border: none;
}