table {
  width: 100%;
  height: 95%;
}
.tablecustom {
  margin-top: 1%;
  background-color: #677baf;
}

.tablecustom th {
  background-color: #677baf !important;
  color: white;
  margin-top: 5px;
  padding-bottom: 18px !important;
}

.tablecustom td {
  background: #f8f4f4 !important;
  color: #21272d;
  border: none;
  padding-bottom: 5px;
}

td.table__label--id {
  color: #d20000 !important;
  padding-left: 30px !important;
}

.tablecustom__data--subtitle {
  color: #00bdd2;
  font-size: small;
  margin-block-start: 0 !important;
}

.tablecustom__columndescription {
  display: block;
  background: #f8f4f4 !important;
  min-width: 50vh;
  display: flex;
  flex-direction: row;
}

.tablecustom__iconeye {
  background-image: url("../../../assets/login/eye.png");
  background-repeat: no-repeat;
  background-position: 3px center;
  background-size: 20px;
  width: 25px;
  /* padding-left: 35px; */
  border: none;
  /* margin-bottom: 5%;  */
  margin-left: 15px;
  outline: none;
}
.tablecustom__iconeye:disabled {
  display: none;
}

.dashboard__container--data--title {
  color: #677baf;
  margin-top: 5vh;
  margin-block-end: 0 !important;
  font-size: large;
  font: normal normal bold 27px/22px Open Sans;
}

.dashboard__container--data--subtitle {
  color: #00bdd2;
  font-size: xx-small !important;
  margin-block-start: 0 !important;
}
table th.mat-sort-header-sorted {
  color: black;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 10%;
}

.table__filter {
  justify-content: end;
  display: flex;
}
